<div id="respond">
        <h2 class="page__section-label">Leave a Comment</h2>
        <form id="contactForm" class="card form" method="post" action="https://api.staticman.net/v2/entry/litasa/litasa.github.io/master/comments">

          <fieldset class="field" id="first-field">
            <input type="text" name="fields[name]" required spellcheck="false"
            placeholder="Name" class="rounded comment-form">
          </fieldset>

          <fieldset class="field">
            <input type="email" name="fields[email]" required spellcheck="false" placeholder="Email" class="rounded comment-form">
          </fieldset>

          <fieldset class="field">
            <input type="url" name="fields[url]" placeholder="Website (optional)" class="rounded comment-form"/>
          </fieldset>

          <fieldset class="field">
            <textarea type="text" rows="6" name="fields[message]" required spellcheck="true" placeholder="Message, Markdown is allowed" class="rounded comment-form"></textarea>
          </fieldset>

          <!-- Hidden values no person should fill in -->
          <fieldset class="hidden" style="display: none;">
            <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
            <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
            <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
            <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
            <label for="comment-form-location">Leave blank if you are a human</label>
            <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off">
          </fieldset>

          <!-- Start comment form alert messaging -->
        <p class="hidden js-notice">
          <span class="js-notice-text"></span>
        </p>
        <!-- End comment form alert messaging -->

          <fieldset class="field">
            <button type="submit" id="comment-form-submit" class="btn-class">Submit Comment</button>
          </fieldset>
        </form>
      </div>