<html>
	<head>
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    	<link rel="stylesheet" href="{{ "/css/gridism.css" | prepend: site.baseurl }}">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		{% include sidebar.html %}
		<div class="content container">
			<div class="main_page">
			<div class="grid">
			{% include header.html %}
				{{ content }}
			</div>
			{% include contact.html %}
			</div>
		</div>
	</body>
</html>
