---
layout: default
title: My Blog
---
<div class="a-post">
    
        <article class="module main-color nohover">
            {% if page.tags != empty%}
      <div id="tag-list" class="category">
        <ul>
        {% for tag in page.tags %}
			  <li><a class="post-tag" href="{{site.sort_tag}}#{{ tag | slugify }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
        
            <h1 class="page_title">{{ page.title }}</h1>
            <div class='separator'></div>
            
            {{ content | markdownify}}
            
            <p class="return_top"><small><a href="#top">[top]</a></small></p>
          {% if page.comments == true %}
            {% include comments.html %}
            {% include comment_form.html %}
          {% endif %}
        </article>
</div>